<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style.css">
    <script src="../eventDispatcher.js"></script>
    <script src="../audioDispatcher.js"></script>
    <title>JesterGPT</title>
</head>

<body>
    <div class="game-wrapper">
        <div class="game-view--game">
            <div class="game-view--game--background">
                <img id="king" src="../../resources/images/king_idle.gif" />
                <div class="game-view--game--background--life">
                    <div class="game-view--game--background--life--dude upset"></div>
                    <div class="game-view--game--background--life--dude"></div>
                    <div class="game-view--game--background--life--dude"></div>
                </div>
            </div>
            <div class="game-view--game--ui">
            </div>
        </div>
    </div>




</body>

</html>


<script src="game.js"></script>