<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styles.css">
    <script src="../eventDispatcher.js"></script>
    <script src="../audioDispatcher.js"></script>
    <title>JesterGPT</title>
</head>

<body>
    <div>
        <div><input id="api_key" /></div>
        <div><button id="btn_save_key">Speicher</button></div>
    </div>
</body>

</html>

<script src="config.js"></script>