body {
  margin: 0px;
}
body .game-wrapper {
  height: 100vh;
  width: 100vw;
}
body button {
  cursor: pointer;
}
body button.icon-button {
  background-size: cover;
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
}
body button.image-button {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}
body button.image-button:hover {
  transform: scale(1.3);
}
body button.image-button img {
  width: 200px;
  animation: rotation 5s infinite ease;
}

@keyframes rotation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.game-view--menu {
  height: 100vh;
  width: 100vw;
}
.game-view--menu .game-view--menu--background {
  background: url("../resources/images/robben-arjen-2.webp") no-repeat center center fixed;
  background-size: cover;
  filter: blur(50px);
  height: 100vh;
  width: 100vw;
  display: fixed;
  position: absolute;
}
.game-view--menu .game-view--menu--ui {
  display: flex;
  position: relative;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.game-view--menu .game-view--menu--ui .game-view--menu--ui--logo {
  width: 50%;
}
.game-view--menu .game-view--menu--ui .game-view--menu--ui--logo img {
  width: 100%;
}
.game-view--menu .game-view--menu--ui .game-view--menu--ui--bottombar {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#btn_api_key {
  transition: all 0.3s ease;
  height: 94px;
  width: 90px;
  background-image: url(../resources/images/cog.png);
}
#btn_api_key:hover {
  transform: rotate(20deg);
}

#btn_quit {
  transform: scaleX(-1);
  height: 100px;
  background-image: url(../resources/images/door_closed.png);
}
#btn_quit:hover {
  background-image: url(../resources/images/door_open.png);
}

.game-view--game--background {
  background-color: #9bb7c1;
  height: 100vh;
  width: 100vw;
  display: fixed;
  position: absolute;
}

.game-view--game--ui {
  overflow: clip;
  position: relative;
  z-index: 5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.game-view--game--ui #game-view--game--ui--promt {
  margin-bottom: auto;
  padding: 50px;
  background-color: #b691b3;
  display: flex;
  width: 600px;
  gap: 5px;
  flex-wrap: wrap;
}
.game-view--game--ui #game-view--game--ui--promt .game-view--game--ui--promt--blank {
  width: 100px;
  border-bottom: 2px solid black;
}
.game-view--game--ui #game-view--game--ui--promt .game-view--game--ui--promt--blank.game-view--game--ui--promt--filled {
  width: auto;
}
.game-view--game--ui #game-view--game--ui--cards {
  justify-content: center;
  gap: 10px;
  display: flex;
}
.game-view--game--ui #game-view--game--ui--cards .game-view--game--ui--cards-element {
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  padding: 15px;
  width: 150px;
  height: 200px;
  background-color: white;
}
.game-view--game--ui #game-view--game--ui--cards .game-view--game--ui--cards-element:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
