#game-view--game--ui--promt
    padding: 50px
    background-color: #e99ce232
    display: flex
    width: 600px
    gap: 5px
    flex-wrap: wrap
    .game-view--game--ui--promt--blank
        width: 100px
        border-bottom: 2px solid black
        &.game-view--game--ui--promt--filled
            width: auto
