.game-view--menu
    height: 100vh
    width: 100vw
    .game-view--menu--background
        background: url('../resources/images/throneroom.png') no-repeat center center fixed
        background-size: cover
        filter: blur(10px)
        height: 100vh
        width: 100vw
        display: fixed
        position: absolute
    .game-view--menu--ui
        display: flex
        position: relative
        z-index: 5
        height: 100vh
        width: 100vw
        justify-content: space-around
        flex-direction: column
        flex-wrap: nowrap
        align-items: center
        .game-view--menu--ui--logo
            width: 50%
            img
                width: 100%
        .game-view--menu--ui--bottombar
            display: flex
            justify-content: space-between
            width: 90%
#btn_api_key
    transition: all 0.3s ease
    height: 94px
    width: 90px
    background-image: url(../resources/images/cog.png)
    &:hover
        transform: rotate(20deg)

#btn_quit
    transform: scaleX(-1)
    height: 100px
    background-image: url(../resources/images/door_closed.png)
    &:hover
        background-image: url(../resources/images/door_open.png)
