.game-view--menu
    height: 100vh
    width: 100vw
    .game-view--menu--background
        background: url('../resources/images/robben-arjen-2.webp') no-repeat center center fixed
        background-size: cover
        filter: blur(50px)
        height: 100vh
        width: 100vw
        display: fixed
        position: absolute
    .game-view--menu--ui
        display: flex
        position: relative
        z-index: 5
        height: 100vh
        width: 100vw
        justify-content: space-around
        flex-direction: column
        flex-wrap: nowrap
        align-items: center
        .game-view--menu--ui--logo
            width: 50%
            img
                width: 100%
        .game-view--menu--ui--bottombar
            display: flex
            justify-content: space-between
            width: 100%
