<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style.css">
    <script src="../eventDispatcher.js"></script>
    <script src="../audioDispatcher.js"></script>
    <title>JesterGPT</title>
</head>

<body>
    <div class="game-wrapper">
        <div class="game-view--result">
            <div class="game-view--result--background loose"></div>
            <div class="game-view--result--ui">
                <div class="game-view--result--bottombar">
                    <div><button class="actual-button" id="btn_restart">Try Again</button></div>
                    <div><button class="actual-button" id="btn_menu">Main Menu</button></div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>

<script src="Lose.js"></script>