<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../style.css">
    <script src="../eventDispatcher.js"></script>
    <title>Hello World! Test</title>
</head>

<body>
    <div class="game-wrapper">
        <div class="game-view--menu">
            <div class="game-view--menu--background"></div>
            <div class="game-view--menu--ui">
                <div class="game-view--menu--ui--logo">
                    <img src="../../resources/images/logo.png" />
                </div>
                <div class="game-view--menu--ui--start">
                    <button class="image-button" id="btn_start">
                        <img/ src="../../resources/images/play.png">
                    </button>
                </div>
                <div class="game-view--menu--ui--bottombar">
                    <div><button class="icon-button" id="btn_api_key"></button></div>
                    <div><button class="icon-button" id="btn_quit"></button></div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>

<script src="mainMenu.js"></script>